doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    title Hacker News Client
    link(href='css/normalize.css', type='text/css', rel='stylesheet')
    link(href='css/index.css', type='text/css', rel='stylesheet')
  body
    div#app
    script(type='text/javascript', src='js/index.js')