doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    title Hacker News Client
    link(href='css/normalize.css', type='text/css', rel='stylesheet')
    link(href='css/index.css', type='text/css', rel='stylesheet')
  body
    //div
    nav
      ul
        li
          a(href='javascript:;') new
        li
          a(href='javascript:;') comments
    section
      ul
        li
          a(href='javascript:;') 测试
        li
          a(href='javascript:;') 测试
        li
          a(href='javascript:;') 测试
      footer
        a(href='javascript:;') 加载更多
    script(type='text/javascript', src='js/index.js')